.report {
    border: 1px solid #bbb;
    margin-top: -1px;
}

.report h2{
    background: #F0F0F0;
    margin: 0px;
    padding: 5px 10px;
    border-bottom: 1px solid #bbb;
    position: relative;
}

.report h2 span{
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 9px;
}

/*Charts*/
.data-line {
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 0;
}

.data-point {
    stroke-width: 2;
    fill: #fff;
    cursor: pointer;
}

path {
    stroke: none;
    fill: none;
}

text {
    font-family: Arial;
    font-size: 8pt;
    fill: #787878;
}

line {
    stroke: #bbb;
    stroke-width: 0.5;
    fill: none;
}

.yTick line{
    stroke-dasharray: 5 3;
}

.xTick line{
    stroke: #6E6E6E;
}



.legend-entry{
    cursor: pointer;
}

#chart {
    margin: 0;
}

#tt b{
    margin-right: 5px;
}

#tt .main{
    color: #4571af;
}

#f-benchmarks-chart *{
    font-size: 10px;
}
